#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto minmax(100vh, auto) auto;
  grid-template-areas:
    "header header header header header header"
    "sidebar main main main main ."
    "footer footer footer footer footer footer";
}

body {
  background: rgb(207, 207, 207);
}

#header {
  height: 30vh;
  grid-area: header;
  background-color: blue;
}

#sidebar {
  grid-area: sidebar;
}

#main {
  grid-area: main;
  padding-top: 5%;
}

#footer {
  height: 15vh;
  grid-area: footer;
  background: rgb(70, 70, 70);
}
