.product-grid_container {
    margin: 0 auto;
    max-width: 80%;
  }
.product-grid {
    display: flex;
    flex-flow: row wrap;
  }
.grid-item { 
    padding: 10px 10px;
    flex: 0 1 20%;
    -ms-flex: auto;
    position: relative;
    box-sizing: border-box;
  }

@media(max-width: 1433px) {
    .grid-item {flex-basis: 25%;}
    .product-grid_container {max-width: 85%;}
}
@media(max-width: 1073px) {
    .grid-item {flex-basis: 33.33%;}
    .product-grid_container {max-width: 90%;}
}
@media(max-width: 815px) {
    .grid-item {flex-basis: 50%;}
    .product-grid_container {max-width: 100%;}
}
@media(max-width: 555px) {
    .grid-item {flex-basis: 100%;}
    .product-grid_container {max-width: 100%;}
  }