@import "/css/resets.css";
@import "/css/layout.css";
@import "/css/card.css";
@import "/css/header.css";
@import "/css/product-grid.css";
@import "/css/variables.css";

/* RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --color-main-blue: #0046be;
    --color-accent-yellow: #fdee15;
    --color-main-off-white: #f4f6f9;
    --color-sale-red: #bb0628;
    --color-dark-blue: #0457c8;
    --color-offblue: #035ea6;
    --color-text-black: #1d252c;
} 