<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>BestBestBuy</title>
</head>

<body>
    <%= erb :"sections/header" %>
    <%= erb :"sections/filterBar" %>
    <%= erb :"sections/products" %>
    <%= erb :"sections/nav" %>
</body>
</html>











