<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <title>Results</title>
</head>
<body>

<%= erb :header %>

<%= erb :filterBar %>

<div class="columns">
    <div class="column">
    </div>

    <main class="column is-three-quarters">
        <%= erb :products %>
    </main>
    <div class="column">
    </div>
    <div class="column">
    </div>
</div>

<%= erb :nav%>

</body>
</html>











