<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <title>BestBestBuy</title>
    </head>

    <body id="grid-container">
        <section id="header">
        
            <%= erb :"sections/header" %>
        </section>
        
        <section id="sidebar">
            <%= erb :"sections/filterBar" %> 
        </section>

        <section id="main">
            <%= erb :"sections/products" %> 
        </section>

        <section id="footer">
            <%= erb :"sections/nav" %>
        </section>
    </body>
</html>










